<div class="product" (click)="onRedirectDetail(product.id)">
    <div class="product__thumb">
        <img [src]="product.image" [alt]="product.name" alt="" />
        <div class="product__actions" *ngIf="product?.inStock">
            <a title="Thêm vào giỏ" (click)="$event.stopPropagation()">
                <span class="product__action-icon material-symbols-outlined">
                    shopping_cart
                </span>
            </a>
            <a title="Xem chi tiết" [routerLink]="['/products', product.id]">
                <span class="material-symbols-outlined product__action-icon">
                    visibility
                </span>
            </a>
        </div>

        <div class="product__unavailable" *ngIf="!product.inStock">Bán hết</div>
    </div>

    <div class="product__caption">
        <h4 class="product__name">{{ product.name }}</h4>
        <div class="product__price-inner">
            <span class="product__price"
                >{{ product.price | formatPrice }}đ</span
            >
        </div>
    </div>
</div>
