<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top-inner">
                <div class="header__logo">
                    <div class="header__logo-image" (click)="onRedirectList()">
                        <img src="/assets/images/logo.png" alt="logo" />
                    </div>
                </div>

                <app-input-search></app-input-search>

                <div class="header__actions">
                    <div class="header__cart">
                        <div class="header__cart-wrapper">
                            <a>
                                <span class="material-symbols-outlined">
                                    shopping_cart
                                </span>

                                <span class="header__badge">0</span>
                            </a>
                        </div>
                        <div class="header__auth">
                            <button>Đăng nhập</button>
                            <div class="header__divider"></div>
                            <button>Đăng ký</button>
                        </div>

                        <div
                            class="header__mobile-menu"
                            (click)="toggleMobileMenu()">
                            <span class="material-symbols-outlined">
                                menu
                            </span>
                        </div>

                        <app-mobile-menu
                            [isOpen]="isMenuOpen"
                            (closedEvent)="closeMobileMenu()"></app-mobile-menu>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header__bottom">
        <div class="container">
            <div class="header__bottom-inner">
                <nav class="header__nav">
                    <ul>
                        <li *ngFor="let item of NAV_LIST">
                            <a>{{ item }}</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
