<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top-inner">
                <div class="header__logo">
                    <div class="header__logo-image">
                        <img src="/assets/images/logo.png" alt="logo" />
                    </div>
                </div>

                <div class="header__search">
                    <div class="header__search-box">
                        <input
                            type="text"
                            placeholder="Tìm kiếm theo tên sản phẩm..." />
                        <div class="header__search-btn">
                            <button>
                                <span class="material-symbols-outlined">
                                    search
                                </span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="header__actions">
                    <div class="header__cart">
                        <div class="header__cart-wrapper">
                            <a>
                                <span class="material-symbols-outlined">
                                    shopping_cart
                                </span>

                                <span class="header__badge">0</span>
                            </a>
                        </div>
                        <div class="header__auth">
                            <button>Đăng nhập</button>
                            <div class="header__divider"></div>
                            <button>Đăng ký</button>
                        </div>

                        <div
                            class="header__mobile-menu"
                            data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasExample"
                            aria-controls="offcanvasExample">
                            <span class="material-symbols-outlined">
                                menu
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header__bottom">
        <div class="container">
            <div class="header__bottom-inner">
                <nav class="header__nav">
                    <ul>
                        <li *ngFor="let item of NAV_LIST">
                            <a>{{ item }}</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
