<div class="navs">
    <div class="navs-container">
        <ul class="tab-list">
            <li class="tab-link active">
                <h3>Mô tả</h3>
            </li>
            <li class="tab-link">
                <h3>Đánh giá</h3>
            </li>
        </ul>
        <div class="tab-content-container">
            <div class="tab-content-inner">
                <div class="tab-content">
                    <div class="tab-detail">
                        <p>{{ product?.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
