<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="footer-top-box">
                <div class="about">
                    <div class="widget-footer">
                        <h6 class="title-widget">Về chúng tôi</h6>
                        <ul class="footer-list">
                            <li>
                                <a>Về chúng tôi</a>
                            </li>
                            <li>
                                <a>Tin tức</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="privacy">
                    <div class="widget-footer">
                        <h6 class="title-widget">Chính sách chung</h6>
                        <ul class="footer-list">
                            <li>
                                <a>Chính sách đổi trả</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="address">
                    <div class="widget-footer">
                        <h6 class="title-widget">Địa chỉ cửa hàng</h6>
                        <ul class="footer-list">
                            <li>
                                <a>Địa chỉ</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="contact">
                    <div class="widget-footer">
                        <h6 class="title-widget">Liên hệ hỗ trợ</h6>
                        <ul class="footer-list">
                            <li>
                                <a>Hotline 1</a>
                            </li>
                            <li>
                                <a>Hotline 2</a>
                            </li>
                            <li>
                                <a>Hotline 3</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-box">
                <div class="left-side">
                    <div class="left-text">
                        <p>Copyright © Linh 2025. All Right Reserved.</p>
                    </div>
                </div>

                <div class="right-side">
                    <div class="right-image"></div>
                </div>
            </div>
        </div>
    </div>
</footer>
