.footer {
    background-color: #f5f3f2;
    color: #767676;

    &__top {
        padding: 3rem 0;
    }

    &__top-inner {
        display: flex;
    }

    &__about {
        width: 25%;
    }

    &__widget-title {
        font-size: 1rem;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
    }

    &__widget-list li {
        cursor: pointer;
        margin-bottom: 0.5rem;
    }

    &__privacy {
        width: 25%;
    }

    &__address {
        width: 33.33%;
    }

    &__contact {
        width: 16.6667%;
    }

    &__bottom {
        border-top: 1px solid #d1d1d1;
        padding: 1.5rem 0;
    }

    &__bottom-inner {
        display: flex;
        align-items: center;
    }

    &__left,
    &__right {
        width: 50%;
    }

    &__right {
        text-align: end;
    }

    @media (max-width: 1024px) {
        &__top-inner {
            flex-direction: column;
            flex-wrap: wrap;
        }

        footer__about,
        footer__privacy,
        footer__address,
        footer__contact {
            width: 100%;
        }

        &__widget:not(:last-child) {
            margin-bottom: 1.5rem;
        }

        &__widget-title {
            margin-bottom: 12px;
        }

        &__bottom {
            padding-bottom: 79px;
            padding-top: 12px;
        }

        &__bottom-inner {
            flex-wrap: wrap;
        }

        &__left,
        &__right {
            width: 100%;
            text-align: center;
        }

        &__left {
            margin-top: 0.5rem;
        }
    }
}
