<div class="list">
    <div class="container">
        <div class="list__topbar">
            <div class="list__filter">
                <div class="list__filter-btn customize-scrollbar">
                    <span class="material-symbols-outlined"> tune </span>
                    <span>Bộ lọc</span>
                </div>
            </div>

            <div class="list__sort">
                <select class="form-select form-select-sm">
                    <ng-container *ngFor="let item of SORT_LIST">
                        <option [value]="item.value" selected>
                            {{ item.label }}
                        </option>
                    </ng-container>
                </select>
            </div>
        </div>

        <div class="list__wrapper">
            <div class="list__grid">
                <ng-container *ngIf="products$ | async as products">
                    <ng-container *ngFor="let product of products">
                        <product-card
                            [product]="product"
                            (directDetailEvent)="
                                handleRedirectDetail($event)
                            "></product-card>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
</div>
